.odd-row {
  background-color: #F3F0F0;
}

.seatNumber, .personName {
  padding: 0 15px;
  max-width: 150px;
}

/*.tableData {
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
    }
.tableData>* {
    flex: 1 1 auto;
}*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*margin: 20px;*/
  /*border-right: 1px solid black;*/
  padding: 5px;
  background-color: #F3F0F0;
}

.tableData {
  /*column-count: 3;*/
  /* width: 50%;*/
  border: 1px solid black;
  margin-left: 10px;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.tableNumber {
  margin: 10px;
  font-size: 18px;
}

.tableBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.table-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-content {
  /*transition: all 0.5s ease-in;
  visibility: hidden;
  .is-table-open {
    visibility: visible;
  }*/
}

.table-block {
  width: 100%;
  border: 1px solid #EEEEEE;
}

.table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*background:#000;*/
  padding: 18px 0;
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 18px 0;
  cursor: pointer;
}

.table-row:nth-of-type(odd) {
  background: #EEEEEE;
}

.table-data, .header__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: center;
}

.main_table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 18px 0;
  background: #859fc7;
  position: relative;
  color: #fafafa;
  text-transform: uppercase;
  padding-left: 2rem;
}

.main_table-row .tableInfo {
  padding-left: 1rem;
}

.main_table-row .arrow-down, .main_table-row .arrow-up {
  width: 1rem;
  height: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  /*position: absolute;
    top: 30%;
    left: 15%;*/
}

.main_table-row .arrow-down::before, .main_table-row .arrow-up::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: 0.2rem 0.2rem 0 0;
  border-style: solid;
  border-color: #fafafa;
  display: block;
}

.main_table-row .arrow-down:after, .main_table-row .arrow-up:after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 .2rem 0 0;
  border-style: solid;
  border-color: #fafafa;
}

.main_table-row .arrow-up {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__item {
  text-transform: uppercase;
}
/*# sourceMappingURL=GuestDataTable.css.map */