
.booking-form{
  width: 25%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-form_title {
  font-size: 24px;
  margin: 30px 0;
}
@media only screen and (max-width: 700px) {
  .booking-form{
    width: initial;
  }
}